.chart.svelte-qd3asf{width:800px;height:400px;margin:50px auto}h1.svelte-qd3asf{text-align:center;font-family:Arial;font-size:32px}h3.svelte-qd3asf{text-align:center;font-family:Arial;font-size:18px}
